<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Player Stats</title>
</head>

<table id="statsTable">

    <tbody id="game-stats">
        {% for item in data %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.result }}</td>
            <td>{{ item.mode }}</td>
            <td>{{ item.opponent_username }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tbody id="player-stats">
        {% for item in data %}
        <tr>
            <td>{{ item.totalGames }}</td>
            <td>{{ item.wins }}</td>
            <td>{{ item.losts }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script src="../static/request.js"></script>

<script src="../static/stats.js"></script>
    
</html>